table {
  border-collapse: collapse;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.drl {
  background-color: blue;
}

.turn {
  background-color: purple;
}

.park {
  background-color: orange;
}


/*
tr:nth-child(even) {
  background-color: #f2f2f2;
}
*/